body{
    font-family: Open Sans,Segoe UI,Tahoma,sans-serif
}

/* Header */

#top_header{
    padding: 20px 0px;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #fff;
}

#logo{
    width: 23%;
}
#top_header nav{
    font-size: 10px;
    font-weight: 600;
}
#top_header nav ul{
    padding-top: 5px;
    vertical-align: bottom;
}
#top_header nav li{
    margin-right: 15px;

}
#top_header nav a{
    text-decoration: none;
    color: #000;
}

#languages{
    background-color: transparent;
    border: solid 1px grey;
    border-top: none;
    border-bottom: none;
    height: 15px;
    padding: 0 15px;
    vertical-align: top;
}

#login{
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 12px;
    margin-top: -12px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
}

/* Hero */

#hero{
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding-top: 150px;
    height: 130vh;
}

h1{
    font-size: 80px;
    font-weight: bold;
}