body{
    font-family: 'Open Sans', sans-serif;
}

/* Header */

#top_header{
    padding: 40px 00px;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    vertical-align: middle;
}
.container_80{
    width: 80%;
    margin: 0 auto;
}
#logo{
    width: 100px;
}
#top_header nav{
    font-size: 12px;
    font-weight: 600;
}
#top_header nav ul{
    padding-top: 5px;
    vertical-align: bottom;
}
#top_header nav li a{
    margin-right: 20px;

}
#top_header nav a{
    text-decoration: none;
    color: #000;
}
nav{
    padding: 0;
}
#hamburger{
    font-size: 30px;
    position: relative;
    padding-left: 150px;
}
#languages{
    background-color: transparent;
    border: solid 1px grey;
    border-top: none;
    border-bottom: none;
    height: 15px;
    font-size: 12px;
    padding: 0 15px;
    vertical-align: middle;
}

#login{
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 12px;
    margin-top: -12px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
}

/* Hero */

#hero{
    padding-top: 130px;
    min-height: 85vh;
    width: 100%;
    text-align: center;
}
#hero img{
    width: 73%;

}
h1{
    font-size: 120px;
    font-weight: bold;
    font-family: neue-haas-grotesk-display,sans-serif;
}

#cards{
    margin-top: 150px;
}

.card{
    background-color: #fafafa;
    height: 900px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    border: 30px solid white;
}

.card > h2{
    font-weight: normal;
    font-size: 20px;
    margin: 40px 0px;
    padding: 0 50px;
}

.card > img:not(:last-child){
    width: 80%;
}
.img_card{
    max-height: 400px;
    max-width: 100%;
}
.card > a{
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 50px;
}
.card i{
    font-weight: lighter;
    font-size: 18px;
    height: 5px;
}

/* Smartphone section */
#smartphone_section{
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    height: 55vh;
    background-size: cover;
    background-position: top;
    margin-top: 100px;
    width: 100%;
}
#smartphone_section .left,
#smartphone_section .right{
    padding-top: 40%;

}
#smartphone_section .left h2{
    font-weight: bold;
    font-size: 40px;
}
#smartphone_section .right h3{
    font-weight: bold;
}
#smartphone_section .right p{
    font-size: 20px;
}
#smartphone_section .right{
    padding-left: 100px;
}
#smartphone_section .row{
    padding-top: 20%;
    width: 100%;
}

#iphone > img{
    height: 650px;
    background-image: url("https://helbiz.com/_nuxt/img/slide1.8ebdcb8.jpg");
    background-size: 90% 95%;
    background-repeat: no-repeat;
    background-position: 20px 15px;
}
@media screen and (max-width: 1194px){
    h1{
        font-size: 60px;
    }
    #smartphone_section .row{
        padding-top: 25%;
    }
}
@media screen and (max-width: 991px){
    h1{
        font-size: 50px;
    }
    #hero{
        min-height: 55vh;
    }
    .img_card{
        width: auto;
    }
    #smartphone_section{
        height: 30vh;
    }
    #smartphone_section .row{
        padding-top: 15%;
    }
    #smartphone_section .left,#smartphone_section .right{
        padding: 20px 40px;
    }
    #iphone > img{
        height: 380px;
        background-position: 10px 15px;
    }
    
}

