body{
    font-family: Open Sans,Segoe UI,Tahoma,sans-serif
}

/* Header */

#top_header{
    padding: 40px 00px;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    vertical-align: middle;
}
.container_80{
    width: 80%;
    margin: 0 auto;
}
#logo{
    width: 100px;
}
#top_header nav{
    font-size: 12px;
    font-weight: 600;
}
#top_header nav ul{
    padding-top: 5px;
    vertical-align: bottom;
}
#top_header nav li a{
    margin-left: 30px;

}
#top_header nav a{
    text-decoration: none;
    color: #000;
}
nav{
    padding: 0;
}
#hamburger{
    font-size: 30px;
    position: relative;
    padding-left: 150px;
}
#languages{
    background-color: transparent;
    border: solid 1px grey;
    border-top: none;
    border-bottom: none;
    height: 15px;
    font-size: 12px;
    padding: 0 15px;
    vertical-align: middle;
}

#login{
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 12px;
    margin-top: -12px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
}

/* Hero */

#hero{
    padding-top: 130px;
    min-height: 85vh;
    width: 100%;
    text-align: center;
}
#hero img{
    width: 73%;

}
h1{
    font-size: 120px;
    font-weight: bold;
    font-family: neue-haas-grotesk-display,sans-serif;
}

#cards{
    margin-top: 150px;
}

.card{
    background-color: #fafafa;
    padding: 100px 80px;
    text-align: center;
    border: 30px solid white;
}

.card > h2{
    font-weight: normal;
    font-size: 20px;
    margin: 40px 0px;
    padding: 0 50px;
}
.img_card{
    width: 70%
}
.card > img:last-child{
    max-height: 400px;
    min-width: 100%;
}
.card > a{
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 50px;
}
.card i{
    font-weight: lighter;
    font-size: 18px;
    height: 5px;
}

/* Smartphone section */
#smartphone_section{
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    padding-top: 13%;
}
#smartphone_section .left,
#smartphone_section .right{
    padding-top: 450px;
}
#smartphone_section .left h2{
    font-weight: bold;
    font-size: 40px;
}
#smartphone_section .right h3{
    font-weight: bold;
}
#smartphone_section .right p{
    font-size: 20px;
}
#smartphone_section .right{
    padding-left: 100px;
}
#smartphone_section .row{
    position: relative;
    top: 15%;
}

#iphone > img{
    height: 700px;
    background-image: url("https://helbiz.com/_nuxt/img/slide1.8ebdcb8.jpg");
    background-size: 90% 95%;
    background-repeat: no-repeat;
    background-position: 20px 15px;
    overflow: hidden;
}
@media screen and (max-width: 991px){
    
        .img_card{
            width: auto;
        }
        #smartphone_section .left,#smartphone_section .right{
            padding: 20px 40px;
        }
}